{% extends 'base.html' %}

{% load icons %}
{% load static %}
{% load bootstrap4 %}

{% block title %}Receipt{% endblock %}


{% block content %}
  <h2 class="mt-3">Receipt</h2>
  <p class="my-3">Payment has been sent!</p>
  <p class="my-3">Here is your receipt:</p>
  <div class="col-md ">
    <div>
      <h3>Project: {{project.title}}</h3>
      <p>Project owner: <a href={% url 'profile' project.user.user.username%}>{{project.user.user.username}}</a></p>

      <h4>Task: {{task.title}}</h4>

      <p>Payment receiver: <a href={% url 'profile' taskoffer.offerer.user.username%}>{{taskoffer.offerer.user.username}}</a></p>
      <p>Paid price: {{taskoffer.price}}</p>

      <p>Original task:<br> {{task.description}}</p>
      <p>Agreed upon task: <br> {{taskoffer.description}}</p>

    </div>
  </div>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary float-right">Submit review</button>
    </form>
{% endblock %}
