{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}Profile{% endblock %}

{% block content %}
    <h2>Profile</h2>
    <h3>{{username}}</h3>
    <br>
    <h3>Reviews</h3>
    {% for review in reviews %}
        <div style="border:solid black 1px;border-radius:5px;padding:5px;margin-bottom:10px;width: 500px">
            <h4>Review by: {{review.reviewer.user.username}}</h4>
            <h4>Rating: {{review.rating}}/5</h4>
            <h4>Review:</h4>
            <p>{{review.review}}</p>
        </div>
    {% endfor %}
    {% if showmessages%}
        <div style="
        position:fixed;
        right:10px;
        bottom:0;
        width:300px;
        height:50vh;
        text-align:center;
        border: solid black 1px">
            <div style="border-bottom:solid black 1px;padding:10px 0; ">Messages</div>
            <div style="overflow:auto;
            display:flex;
            flex-direction:column-reverse;
            height: calc(50vh - 100px);">
                <div style="
                margin:10px;">
                    {% for msg in msgs %}
                        {% if msg.receiver.user.username == username %}
                            <div style="
                            width:200px;
                            margin:5px;
                            float:right;
                            border: 1px solid black;
                            border-radius: 5px;
                            background-color:lightskyblue;
                            text-align:center">{{msg.text}}</div>
                        {% else %}
                            <div style="
                            width:200px;
                            margin:5px;
                            float:left;
                            border: 1px solid black;
                            border-radius: 5px;
                            background-color:lightgray;
                            text-align:center">{{msg.text}}</div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div style="
            position:absolute;
            width:100%;
            bottom:0">
                <form method="POST">
                    {% csrf_token %}
                    <input type="text" name="text" placeholder="message..."/>
                    <button type="submit">Send</button>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}
