{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}Register{% endblock %}

{% block content %}
<h2>Sign up</h2>
<form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <div class="form-group">
        <div class="g-recaptcha" data-sitekey="6Le1SOEUAAAAAA27znWgc6DfA_SMj0u_yDODv2xU" required></div>
    </div>
    <style>
        #g-recaptcha-response {
            display: block !important;
            position: absolute;
            margin: -78px 0 0 0 !important;
            width: 302px !important;
            height: 76px !important;
            z-index: -999999;
            opacity: 0;
        }
    </style>
    <script>
        let a = window.onload;
        window.onload = ()=>{
            let g = document.getElementById("g-recaptcha-response");
            if(g)
                g.setAttribute("required", "required")
            console.log("req");

            if(a)
                a()
        }
    </script>

    <button style="margin-top:10px" type="submit">Sign up</button>
</form>
{% endblock %}
